.LandingPage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
    url("../../assets/images/Landing2.jpg");
  width: 100vw;
  height: 94vh;
  color: white;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.landingHeader {
  font-size: 5rem;
  margin-bottom: 3rem;
  letter-spacing: 0.1rem;
}

.landingSubHeader {
  margin: 0 auto;
  width: 50%;
  justify-self: flex-start;
  align-self: flex-start;
  letter-spacing: 2px;
  font-size: 1.5rem;
}

.button {
  color: white;
  border: 1px solid white;
  margin: 2rem;
  padding: 1rem 1.5rem;
  transition: all 0.3s ease;
}

.button:hover {
  color: black;
  border: 1px solid white;
  background-color: white;
}
