.GameDetail {
  display: flex;
  flex-direction: column;
}

.coverImg {
  position: absolute;
  top: 0px;
  height: 442px;
  width: 100%;
  background-position: center;
  background-size: cover;
  z-index: -2;
}

.gameDetailCard {
}

.headerWrapper {
  width: 90%;
  height: 182px;
  margin: 0 auto;
  overflow: auto;
  padding-top: 1rem;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 10rem;
  overflow: visible;
}

.headerTextChunk {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: black;
  padding-top: 0rem;
  font-family: "Lato", sans-serif italic;
  font-weight: bold;
  color: #2d3336;
  letter-spacing: 2px;
  padding-left: 2rem;
}

.gameName {
  font-size: 2rem;
  color: white;
}

.releaseDate {
  color: lightgray;
}

.gameDetailCarousel {
  width: 80%;
  margin: 0 auto;
}
/* 작을때 */
@media (max-width: 980px) {
  .headerWrapper {
    width: 80%;

    height: calc(85vh);
    overflow: auto;

    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
  }

  .coverImg {
    position: absolute;
    top: 64px;
    height: 220px;
    width: 100%;

    background-position: center;
    background-size: cover;
    opacity: 0.3;
    z-index: -2;
  }
  .headerWrapper {
    padding-top: 1rem;
  }

  .headerTextChunk {
    align-items: center;
  }

  .gameName {
    color: black;
  }
  .releaseDate {
    color: #aaaaaa;
  }
  .gameDetailBody {
    width: 100vw;
  }
  .bodyDetail {
    width: 100vh;
  }
}
