.CategoryDetail {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #e3e9ed;
}

.gameContainer {
  width: 80%;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categoryDetailTitle {
  color: gray;
  border-bottom: 2px solid gray;
  width: 100%;
  font-size: 1.5rem;

  padding: 78px 0 1rem 0;
}
