.Navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(173, 118, 118);
  height: 3rem;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.navLink {
  margin: 0 1rem;
  text-decoration: none;
  color: white;
}
