.PlatformDetail {
  border: 1px solid black;

  background-size: cover;
  background-position: center;
  max-width: 100%;
  width: 264px;
  height: 352px;
  margin: 1vh auto;
}

.gameImage {
}

.gameDetail {
  display: inline;
}
