.Homepage {
  background-color: #0f0f10;
  height: 301vh;
}

.carousel {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.button {
  display: inline-block;
  color: white;
  border: 1px solid white;
  margin: 3rem 0;

  padding: 1rem 1.5rem;
  transition: all 0.3s ease;
}

.button:hover {
  color: black;
  cursor: pointer;
  border: 1px solid white;
  background-color: white;
}

.youtubeContainer {
  width: 80%;
  height: 60vh;
  text-align: center;
  margin: 5rem auto 0 auto;
  padding: 3rem 0;
}

.youtubeHeading {
  display: flex;
  color: #9254fc;
  margin-bottom: 3rem;
}

.youtubeBody {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
}
