.Carousel {
}

.cover {
  height: 450px;
  width: 400px;
}

h2 {
  display: flex;
  color: gray;
}
.cover:hover {
  cursor: pointer;
}

.coverImg {
  height: 100%;
  background-size: cover;
  background-position: center;
}
