.Carousel {
  box-sizing: border-box;
}

.cover {
  height: 40vh;
  width: 400px;
  text-decoration: none;
  color: black;
  transition: all 1s ease-in-out;
}

.carouselHeading {
  display: flex;
  color: #9254fc;
}
.cover:hover {
  cursor: pointer;
}

.cover:hover :first-child {
  transition: all 0.2s ease-in-out;
  opacity: 0.8;
}

.coverImg {
  height: 90%;
  background-size: cover;
  background-position: center;
}

.coverTitle {
  display: flex;
  color: white;
  font-size: rem;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
}

.coverGenre {
  font-size: 0.9rem;
  color: darkgray;
}
