.Carousel {
  box-sizing: border-box;
}

.cover {
  height: 450px;
  width: 400px;
}

h2 {
  display: flex;
  color: gray;
}
.cover:hover {
  cursor: pointer;
}

.coverImg {
  height: 90%;
  background-size: cover;
  background-position: center;
}

.coverTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
}

.coverGenre {
  color: darkgray;
}

.slider {
}
