.GameDetailBody {
  padding: 1rem;
  width: 50%;
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: 35%;
}

.bodyDetail {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 2rem;
}

.platforms,
.genres,
.websites {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  border-bottom: 2px groove #9254fc;
}

.platformList,
.genresList,
.websiteLink {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 0.7rem;
}
.bold {
  padding-right: 1rem;
  text-transform: uppercase;
}

.websiteItem,
.genreItem,
.platformItem,
.noWebsiteYet {
  margin: 0 0.5rem;
  color: gray;
}
.websiteItem {
  transition: all 0.2s ease;
  font-size: 0.7rem;
}

.websiteItem:hover {
  cursor: pointer;
  color: black;
}

.summary {
  margin: 3rem 0;
  text-align: left;
  border-radius: 5px;
  padding: 2rem;
  background-color: #d5d0ff;
  color: #384d7c;
}

@media (max-width: 980px) {
  .GameDetailBody {
    margin: 0 auto;
  }
}

.bodyHeader {
  color: gray;
  padding: 1rem 0;
}
