.GameDetailBody {
  padding: 1rem;
  width: 50%;
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: 35%;
}

.bodyDetail {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 2rem;
}

.platforms,
.genres {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  border-bottom: 2px groove #9254fc;
}

.bold {
  padding-right: 1rem;
  text-transform: uppercase;
}

.summary {
  padding-top: 3rem;
  text-align: left;
}

@media (max-width: 980px) {
  .GameDetailBody {
    margin: 0 auto;
  }
}

.bodyHeader {
  color: gray;
  padding: 1rem 0;
}
