.PlatformDetail {
  max-width: 100%;
  width: 264px;
  height: 352px;
  margin: 1vh auto;
  overflow: scroll;
}

.gameImage {
  background-size: cover;
  background-position: center;
  widows: 100%;
  height: 100%;
}

.gameDetail {
  margin: 1rem;
}
