.Loader {
  background-color: #9254fc;
  width: 100%;
  height: 100vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}

.loading {
  position: absolute;
  top: 70vh;
  color: lightgray;
}
